html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}
pre {
    padding: 0 16px;
    background: darkblue;
    color: rgb(202, 200, 193);
    white-space: break-spaces;
}
.bgDarkblue {
    background: darkblue;
    color: cornsilk;
    white-space: break-spaces;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 52rem;
    margin-top: 3rem;
}
.rows {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    flex-wrap: nowrap;
}
.columns {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    flex-wrap: nowrap;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
}


@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

.normalList { list-style: none; padding: 0; margin: 0;}
.console { 
    font-size: 0.7rem;    
    color: rgb(202, 200, 193) !important;
    background: darkblue;
}

.card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}


.fxCenter { justify-content: center;}
.fxStart { justify-content: flex-start;}
.fxEnd { justify-content: flex-end;}
.fxStretch { justify-content: stretch;}
.fxAround { justify-content: space-around;}
.fxBetween { justify-content: space-between;}
.fxEvenly { justify-content: space-evenly;}

.fxItCenter { align-items: center;}
.fxItStart { align-items: flex-start;}
.fxItEnd { align-items: flex-end;}
.fxItStretch { align-items: stretch;}

.fxJsCenter { justify-self: center;}
.fxJsStart { justify-self: flex-start;}
.fxJsEnd { justify-self: flex-end;}
.fxJsStretch { justify-self: stretch;}

.fxSelfCenter { align-self: center;}
.fxSelfStart { align-self: flex-start;}
.fxSelfEnd { align-self: flex-end;}
.fxSelfStretch { align-self: stretch;}


/* flex: flex-grow flex-shrink flex-basis  */
.col11 { width:100% !important; flex: 1 1 auto;}
.col12 { width: 50% !important; flex: 1 1 auto;}
.col13 { width: 33% !important; flex: 1 1 auto;}
.col23 { width: 66% !important; flex: 1 1 auto;}
.col14 { width: 25% !important; flex: 1 1 auto;}
.col34 { width: 75% !important; flex: 1 1 auto;}
.col15 { width: 20% !important; flex: 1 1 auto;}
.col25 { width: 40% !important; flex: 1 1 auto;}
.col35 { width: 60% !important; flex: 1 1 auto;}
.col45 { width: 80% !important; flex: 1 1 auto;}
.col16 { width: 16% !important; flex: 1 1 auto;}
.col56 { width: 83% !important; flex: 1 1 auto;}
.col17 { width: calc((1 / 7) * 100%) !important; flex: 1 1 auto;}
.col27 { width: calc((2 / 7) * 100%) !important; flex: 1 1 auto;}
.col37 { width: calc((3 / 7) * 100%) !important; flex: 1 1 auto;}
.col47 { width: calc((4 / 7) * 100%) !important; flex: 1 1 auto;}
.col57 { width: calc((5 / 7) * 100%) !important; flex: 1 1 auto;}
.col67 { width: calc((6 / 7) * 100%) !important; flex: 1 1 auto;}
.col18 { width: calc((1 / 8) * 100%) !important; flex: 1 1 auto;}
.col38 { width: calc((3 / 8) * 100%) !important; flex: 1 1 auto;}
.col58 { width: calc((5 / 8) * 100%) !important; flex: 1 1 auto;}
.col58 { width: calc((5 / 8) * 100%) !important; flex: 1 1 auto;}
.col78 { width: calc((7 / 8) * 100%) !important; flex: 1 1 auto;}
.col19 { width: calc((1 / 9) * 100%) !important; flex: 1 1 auto;}
.col29 { width: calc((2 / 9) * 100%) !important; flex: 1 1 auto;}
.col39 { width: calc((3 / 9) * 100%) !important; flex: 1 1 auto;}
.col49 { width: calc((4 / 9) * 100%) !important; flex: 1 1 auto;}
.col59 { width: calc((5 / 9) * 100%) !important; flex: 1 1 auto;}
.col69 { width: calc((6 / 9) * 100%) !important; flex: 1 1 auto;}
.col79 { width: calc((7 / 9) * 100%) !important; flex: 1 1 auto;}
.col89 { width: calc((8 / 9) * 100%) !important; flex: 1 1 auto;}
